<!--создаем разметку через эмет снипеты-->
<!-- table>(thead>tr>th*5)(tbody>tr>td*5) + TAB-->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Students Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--{{courses}} переменная в шаблоне Django -->
        {% for course in courses %} <!-- скобки для использования цикла python-->
        <tr>
            <td>{{course.title}}</td>
            <td>{{course.category}}</td>
            <td>{{course.price}}</td>
            <td>{{course.student_qty}}</td>
            <td><button>Buy</button></td>
        </tr>
        {% endfor %} <!-- конец цикла for -->
    </tbody>
</table>    