<!--создаем разметку через эмет снипеты-->
<!-- table>(thead>tr>th*5)(tbody>tr>td*5) + TAB-->
{%  extends 'base.html' %} <!-- расширяем шаблон base -->

{%block title%}All courses{% endblock %}

{% block content %} <!-- назначили блок который расширяет шаблон base-->
<table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Students Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--{{courses}} переменная в шаблоне Django -->
        {% for course in courses %} <!-- скобки для использования цикла python-->
        <tr>
            <td>{{course.title}}</td>
            <td>{{course.category}}</td>
            <td>{{course.price}}</td>
            <td>{{course.student_qty}}</td>
            <td><button class="btn btn-primary">Buy</button></td>
        </tr>
        {% endfor %} <!-- конец цикла for -->
    </tbody>
</table>    
{% endblock %}